:root {
	--white: #ffffff;
	--blue: #0014ff;
  --blue2: #000864;
	--lightblue: #4eb1ff;

	--blackone: #000;
	--blacktwo: #333;
	--grayone: #999;
	--graytwo: #ddd;

	--red: #d71313;
	--yellow: #ffe569;
	--green: #a2ff86;
}
.booking-form-container {
  background-color: var(--lightblue);
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 85vh;
  overflow-y: hidden;
  width: 70%;
  padding: 20px;
}
  .title {
    font-size: 32px;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 4rem;
}

  .two-line{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    width:100%;
    margin-bottom: 2px;

  }
  .three-line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    width:100%;
    margin-bottom: 2px;

  }
  .submit-button {
    margin-left: auto;
    background-color:var(--blackone);
    color: var(--white);
    font-weight: 700;
    border: none;
    margin-top: 10px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1.1rem 3rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}
  
  .paragraph {
    margin-top: 2rem;
    font-size: 14px;
    color: var(--grayone);
    color: var(--graytwo);
  }
  .one-line{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    width:100%;
    margin-bottom: 2px;

  }
  .img-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-container img {
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 80px;
    right: -240px;
    z-index: 3;
  }

  @media (max-width: 1800px) {
    .img-container img {
      max-width: 30%;
      height: auto;
      position: fixed;
      top: 300px;
      right: -50px;
      z-index: 3;
    }
  }
  @media (max-width: 1400px) {
    .img-container img {
      max-width: 50%;
      height: auto;
      position: fixed;
      top: 300px;
      right: -240px;
      z-index: 3;
    }
  }
  @media (max-width: 900px) {
    body {
      overflow-x: hidden;
    }
  
    .img-container img {
      display: none;
    }
    .img-container {
      display: none;
    }
  
    .booking-form-container {
      width: calc(100% - 40px);
      margin: 20px auto;
    }
  }